<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.3/css/bootstrap.min.css}" />
    <link rel="apple-touch-icon" sizes="180x180" th:href="@{/favicon/apple-touch-icon.png}">
    <link rel="icon" type="image/png" sizes="32x32" th:href="@{/favicon/favicon-32x32.png}">
    <link rel="icon" type="image/png" sizes="16x16" th:href="@{/favicon/favicon-16x16.png}">
    <title>Edit Assignment</title>
</head>
<body>
    <div class="container">
        <div class="row mt-5">
            <div class="col-2">
                <p><a href="/" class="btn btn-outline-success">
                    <i class="bi bi-arrow-left-square-fill"></i> Back</a>
                </p> 
            </div>
            <div class="col-6">
                <h2>Edit assignment</h2>
                <form class="row g-3" action="#" th:action="@{/todo/{id}(id=${todo.id})}" th:object="${todo}" method="POST">
                    <div class="form-group">
                        <div class="col-6">
                            <label for="description">Description</label>
                            <input class="form-control"
                                type="text"
                                th:field="*{description}"
                                id="description"
                                placeholder="Description"
                            >
                        </div>

                        <div class="col-6 form-check">
                            <input class="form-check-input"
                                type="checkbox"
                                id="inputIsComplete"
                                th:field="*{isComplete}"
                                th:checked="*{isComplete} == true"
                            >
                            <label for="inputIsComplete" class="form-check-label">HAVE YOU DONE IT?!</label>
                        </div>

                        <input type="hidden" th:field="*{createdAt}" />
                        <input type="hidden" th:field="*{updatedAt}" />

                        <button type="submit" class="btn btn-outline-success">
                            <i class="bi bi-plus-square-fill"></i> Update
                        </button>


                    </div>
                </form>
            </div>
        </div>
    </div> 
    <script th:src="@{/webjars/bootstrap/5.3.3/js/bootstrap.min.js}"></script>
</body>
</html>

