<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.3/css/bootstrap.min.css}" />
    <link rel="apple-touch-icon" sizes="180x180" th:href="@{/favicon/apple-touch-icon.png}">
    <link rel="icon" type="image/png" sizes="32x32" th:href="@{/favicon/favicon-32x32.png}">
    <link rel="icon" type="image/png" sizes="16x16" th:href="@{/favicon/favicon-16x16.png}">
    <title>DoYourAssignment</title>
</head>
<body>
    <div class="container">
        <h1>Do Your Assignment!!!</h1>
        <hr />

        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Actions</th>
                    <th>Id</th>
                    <th>Description</th>
                    <th>Is Complete</th>
                    <th>Created At</th>
                    <th>Updated At</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="item : ${todoItems}">
                    <td>
                        <div class="btn btn-group-sm" role="group">
                            <a th:href="@{/edit/{id}(id=${item.id})}" class="btn btn-info">
                                <i class="bi bi-pencil-fill"></i> Edit
                            </a>
                            <a th:href="@{/delete/{id}(id=${item.id})}" class="btn btn-danger">
                                <i class="bi bi-trash-fill"></i> Delete
                            </a>

                        </div>
                    </td>
                    <td th:text="${item.id}"></td>
                    <td th:text="${item.description}"></td>
                    <td>
                        <span th:if="${item.isComplete} == true" th:text="Yes" />
                        <span th:unless="${item.isComplete} == true" th:text="No" />
                    </td>
                    <td th:text="${#dates.format(item.createdAt, 'yyyy-MM-dd HH:mm:ss')}"></td>
                    <td th:text="${#dates.format(item.updatedAt, 'yyyy-MM-dd HH:mm:ss')}"></td>
                </tr>
            </tbody>
        </table>

        <p><a class="btn btn-outline-success" href="/create-todo">
            <i class="bi bi-plus-square-fill"></i> Add</a>
        </p>
    </div> 
    <script th:src="@{/webjars/bootstrap/5.3.3/js/bootstrap.min.js}"></script>
</body>
</html>
