<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="apple-touch-icon" sizes="180x180" th:href="@{/favicon/apple-touch-icon.png}">
    <link rel="icon" type="image/png" sizes="32x32" th:href="@{/favicon/favicon-32x32.png}">
    <link rel="icon" type="image/png" sizes="16x16" th:href="@{/favicon/favicon-16x16.png}">
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.3/css/bootstrap.min.css}" />
    <title>Add Assignment</title>
</head>
<body>
    <div class="container">
        <div class="row mt-5">
            <div class="col-2">
                <p><a href="/" class="btn btn-outline-success">
                    <i class="bi bi-arrow-left-square-fill"></i> Back</a>
                </p> 
            </div>
            <div class="col-6">
                <h2>Add a new assignment</h2>
                <form action="#" th:action="@{/todo}" th:object="${todoItem}" method="POST">
                    <div class="form-group">
                        <label for="description">Description</label>
                        <input class="form-control"
                            type="text"
                            th:field="*{description}"
                            id="description"
                            placeholder="Description"
                        >

                        <button type="submit" class="btn btn-outline-success">
                            <i class="bi bi-plus-square-fill"></i> Add
                        </button>

                    </div>
                </form>
            </div>
        </div>
    </div> 
    <script th:src="@{/webjars/bootstrap/5.3.3/js/bootstrap.min.js}"></script>
</body>
</html>

